:root {
    --border-radius: 3px;
    --primary-color: #000;
}

* {
    box-sizing: border-box;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100vh;
    min-height: 600px;

    width: 416px;
    overflow-y: scroll;
}

#container {
    border-radius: var(--border-radius);
    width: 100%;
}

.header {
    background: #f1f1f1;
    padding: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.primary > button {
    border-left: 1px dotted white;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
}

.input-group > button {
    padding: 8px 12px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    box-shadow: none;
    border-bottom: 3px solid var(--primary-color);
}

.input-group > button:hover {
    background-color: #111;
    border-bottom: 3px solid #e9ffe9;
}

#output {
    background-color: #fff;
    border-radius: var(--border-radius);
    max-width: 500px;
    user-select: text !important; /* needed in sidebar mode */
    padding: 10px;
}

.flexi {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}

.flexi > button {
    flex: 1;
    height: 100%;
    width: 100%;
    min-width: 100px;
    border-radius: var(--border-radius);
    margin: 1px;
    text-align: center;
    padding: 2px 2px;
    background: none;
    border: 1px solid #777;
    color: #333;
}

.flexi > button:hover {
    background: #777;
    color: white;
}

.closer{
    background-color: #f1f1f1;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 0px 10px;
}

.mini {
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

.mini button {
    border-radius: var(--border-radius);
    background: black;
    color: white;
    border: none;
    text-align: center;
    padding: 1px 4px;
    margin: 0px;
    height: 100%;
}

#question {
    margin-top: 10px;
}

#copy {
    display: none;
    padding: 3px 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-size: 10px;
    box-shadow: none;
    border-bottom: none;
}

#question {
    overflow: elipsis;
}

.checkbox-group {
    display: flex;
}

.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px 0 0;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 8px;
}

.checkbox-container label {
    position: relative;
    cursor: pointer;
    text-decoration: underline dotted;
}

.checkbox-container label:hover::after {
    content: attr(data-hover-info);
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: 1px dashed #ccc;
    min-width: 200px;
    z-index: 10;
}
